.dashboard .monitor {
    float: left;
    margin: 0;
}

.sonarMetricName{
    font-size:1.5em;
    margin-right: 25px;
}

.sonarMetricValue{
    font-size: 1.5em;
}

.metricLine{
    line-height: 36px;
}