.dashboard .monitor {
    float: left;
    margin: 0;
}

.monitor {
    background: greenyellow;
    border: solid 1px blue;
    height: 100px;
    width: 30%;
}

.sonarMetricName{
    font-size:1.5em;
}

.sonarMetricValue{
    font-size: 2.0em;
    margin-left: 30px;
    color: #797878;
    text-align: right;
}

.metricLine{
    line-height: 36px;
}