<div class="well">
    <h2>Sonar</h2>
    <table>
        <tr ng-repeat="metric in metrics" class="metricLine">
            <td><span class="sonarMetricName">{{metric.name}}</span></td>
            <td><span class="sonarMetricValue">{{metric.percentage}}</span></td>
        </tr>
    </table>

    <h2>Violations</h2>
    <table>
        <tr>
            <td ng-repeat="violation in violations">
                <span class="sonarMetricName">{{violation.title}}</span>
                <p class="sonarMetricValue">{{violation.value}}</p>
            </td>
        </tr>
    </table>
</div>