<div class="well" >
    <h2>Sonar</h2>
	<div ng-repeat="metric in metrics" class="metricLine">
			<span class="sonarMetricName">{{metric.name}}</span><span class="sonarMetricValue">{{metric.percentage}}</span>
	</div>

	<div>
		<h2>Violations</h2>
        <table>
            <tr>
                <td ng-repeat="violation in violations"><span class="sonarMetricName">{{violation.title}}</span>
                    <p class="sonarMetricValue">{{violation.value}}</p></td>
            </tr>
        </table>
	</div>
</div>