<div class="well" style="height:432px">
    <h2>Sonar</h2>
    <table class="table" style="margin-bottom: 25px">
        <tr ng-repeat="metric in metrics" class="metricLine">
            <td><span class="sonarMetricName">{{metric.name}}</span></td>
            <td><span class="sonarMetricValue">{{metric.percentage}}</span></td>
        </tr>
    </table>

    <h3>Violations</h3>
    <table class="table table-bordered table-striped">
        <tr class="sonarMetricName">
            <td ng-repeat="violation in violations">
                {{violation.title}}
            </td>
        </tr>
        <tr class="sonarMetricValue">
            <td ng-repeat="violation in violations">
                {{violation.value}}
            </td>
        </tr>
    </table>
</div>